<app-control style="padding: 0px !important; margin: 0px !important"></app-control>
<!-- <div style="padding: 30px !important;"> -->

<!-- <div class=" md-form amber-textarea active-amber-textarea-2 ">
    <i class="fa fa-pencil prefix "></i>
    <textarea type="text " id="form24 " class="md-textarea form-control " rows="3 "></textarea>
    <label for="form24 ">Escriba aquí sus anotaciones</label>
</div>
<button class="btn btn-info ">Enviar</button>

<hr>

<div *ngFor="let a of notas.slice().reverse() " class="card ">
    <h5 class="card-title "> {{ a.min }}:{{ a.seg }}</h5>
    <p class="card-text "> {{a.nota}}<br></p>
</div> -->
<!-- </div> -->