<h3>GUÍA PARA LA ENTREVISTA CON LA PRESUNTA VÍCTIMA </h3>
<ul>
    <li>
        Las situaciones de maltrato suelen ocultarse ante los ojos de los demás. En ocasiones la víctima no suele reconocer la situación, por ello conviene hacerle saber de la misma, hacerle sentir seguro(a), valorado(a) y eliminar sentimientos de culpabilidad.
    </li>
    <li>
        Debemos averiguar si realmente se está dando la situación de molestia, o si responde a otras situaciones.
    </li>
    <li>
        Nunca se realizarán juicios de valor
    </li>
</ul>
<h3>Datos de la(s) presunta(s) víctima(s) </h3>

<form action="A donde quieras babe 7u7" method="post">
    <table>
        <tr>
            <td>
                <label for="p1">Nombres(s) y apellidos:</label>
                <input type="textfield" name="r1" id="p1">
            </td>
        </tr>
        <tr>
            <td>
                <label for="p2">Edad:
        <input type="number" name="r2" id="p2">
      </td>
    </tr>
    <tr>
      <td>
        <label for ="p3">Sexo:</label>
                <select name="r3" id="p3">
          <option>Hombre</option>
          <option>Mujer</option>
        </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="tel" name="r4" maxlength="10" id="p4">
            </td>
        </tr>
        <tr>
            <td>
                <label for="p5">Modalidad: Alumnado</label>
                <input type="radio" name="r5" id=" p5" value="alumnado">
                <label for="p6">Docente</label>
                <input type="radio" name="r6" id="p6" value="docente">
                <label for="p7">Administracion</label>
                <input type="radio" name="r7" id="p7" value="administrativo">
                <label for="p8">  Directivo </label>
                <input type="radio" name="r8" id="p8" value="directivo">
                <label for="p9">Padre, Madre y/o Tutor(a)
          <input type="radio" name="r9" id="p9"value="padre">
        <label for ="p10">Otro(s):</label>
                <input type="textfiled" name="r10" id="p10">
            </td>
        </tr>
        <tr>
            <td>
                En caso de ser alumno(a)<br>
                <label for="p11">Grado: </label>
                <input type="textfiled" name="r11" id="p11">
            </td>
        </tr>
        <tr>
            <td>
                <label for="p12">Turno: </label>
                <input type="textfiled" name="r12" id="p12">
            </td>
        </tr>
        <tr>
            <td>
                <label for="p13">Nombre del Padre, Madre y/o Tutor(a): </label>
                <input type="textfield" name="r13" id="p13">
            </td>
        </tr>
        <tr>
            <td>
                <label for="p14">Telefono:</label>
                <input type="tel" name="r14" id="p14">
            </td>
        </tr>
        <tr>
            <td>
                <h3>1. Recopilación de Informacion </h3>
            </td>
        </tr>
        <tr>
            <td>
                <label for="p15">• ¿Qué ha ocurrido?</label><br>
                <input type="textarea" name="r15" id="p15">
            </td>
        </tr>
        <tr>
            <td>
                <label for="p16">• ¿Cuándo y dónde ha sucedido?</label> <br>
                <input type="textarea" name="r16" id="p16">
            </td>
        </tr>
        <tr>
            <td>
                <label for="p17">• ¿Por qué crees que lo hacen?</label> <br>
                <input type="textarea" name="r17" id="p17">
            </td>
            <tr>
                <td>
                    <label for="p18">• ¿Hay alguien que lo haya visto?</label> <br>
                    <input type="textarea" name="r18" id="p18">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="p19">• ¿Quién conoce la situación? ¿A quién has contado estas situaciones que estás viviendo? ¿A
quién podrías contarlas? </label><br>
                    <input type="textarea" name="r19" id="p19">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="p20">  • ¿Hay alguien que te proteja? </label> <br>
                    <input type="textarea" name="r20" id="p20">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="p21">• ¿Desde cuándo se producen estas situaciones? </label> <br>
                    <input type="textarea" name="r21" id="p21">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="p22">• ¿Cómo te sientes cuando ocurre esto?  </label> <br>
                    <input type="textarea" name="r22" id="p22">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="p23">  • ¿Tú, qué es lo que haces cuando esto sucede? <br>
          <input type="textarea" name="r23" id="p23">
      </td>
    </tr>
    <tr>
      <td>
      <label for ="p24">• ¿Qué tendría que suceder para que se arregle el problema?  <br>
      <input type="textarea" name="r24" id="p24">
      </td>
    </tr>
    <tr>
      <td>
        <h3>2. Informar de las medidas que se van a tomar intentando tranquilizar a la presunta víctima.
              (Respuesta exclusiva del entrevistador) </h3>
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>Informarle de las medidas, acciones reflexivas y disciplinarias
          implementadas por la autoridad apoyados en el Acuerdo Escolar de
          Convivencia establecido en el Centro Educativo para disminuir la
          molestia.</li>

          <li>Sugerirle mantenerse en lugares concurridos y permanecer
          acompañado(a) de una persona del entorno escolar en la que más
          confíe.</li>

          <li>Tomar distancia con el supuesto(a) agresor(a) y no tratar de dirimir la
          molestia a solas.</li>

          <li>Informarle del seguimiento que se llevará a cabo sobre el caso hasta la
          resolución del mismo.</li>

          <li>Dejarle en claro que en el centro escolar no se permitirán ese tipo de
        acciones que contravienen la tranquilidad de la comunidad educativa.</li>

          <li>Dejarle en claro que en el centro escolar no se permitirán ese tipo de
        acciones que contravienen la tranquilidad de la comunidad educativa.</li>

          <li>Establecer compromisos para sanear las posibles afectaciones que la
        molestia le provoque.</li>

          <li>Informarle que un integrante del Equipo de Valoración a quien elija
        realizará las funciones de acompañamiento durante todo el proceso para
        reforzar su seguridad.</li>
        </ul>
      </td>
    </tr>
    <h3>3. Concluir: volver a preguntar sobre la molestia para hacer un resumen: ¿Así que dices
    que…..? (Parafraseo; vuelve a responder el entrevistado) </h3>
    <tr>
      <td>
        <label for ="p25">Nombre del receptor de la Molestia:</label>
                    <input type="textfield" name="r25" id="p25">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="p26">S.L.P., a: </label><input type="date" name="r26" id="p26">
                </td>
            </tr>
            <tr>
                <td><br><br><input type="submit" value="Enviar"></td>
            </tr>
    </table>
</form>