<button routerLink="/Video" class="btn btn-info">Iniciar una nueva sesión</button>
<hr>
<div class="card-deck">
    <div *ngFor="let s of sesiones" class="card">
        <i class="fa fa-play fa-4x" align="center" aria-hidden="true"></i>
        <div class="card-body" style="background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 109, 177))">
            <h5 class="card-title"> {{ s.date }}</h5>
            <p class="card-text"> {{s.description}}<br></p>
            <a href="#!" class="secondary-content "><i class="fa fa-download fa-2x" style="color:rgba(0, 0, 0, 0.582)" aria-hidden="true" ></i></a>
        </div>
    </div>
</div>