<nav class="nav nav-pills flex-column">
    <a class="nav-link" routerLink="/Info">Formularios</a>
    <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" routerLink="/Anexo1">Identificación y comunicación de una posible situación de molestia</a>
        <a class="nav-link ml-3 my-1" routerLink="/Anexo2">Registro de observación en zonas de riesgo en la escuela</a>
        <a class="nav-link ml-3 my-1" routerLink="/Anexo3">Guía para la entrevista con la presunta víctima</a>
        <a class="nav-link ml-3 my-1" routerLink="/Anexo4">Guía para la entrevista con los observadores</a>
        <a class="nav-link ml-3 my-1" routerLink="/Anexo5A">Guía para la entrevista con la familia de la presunta víctima</a>
        <a class="nav-link ml-3 my-1" routerLink="/Anexo5B">Guía para la entrevista con la familia del presunto agresor</a>
        <a class="nav-link ml-3 my-1" routerLink="/Anexo6">Guía para la entrevista con el presunto agresor</a>
        <a class="nav-link ml-3 my-1" routerLink="/Anexo7">Reporte de incidencias</a>
    </nav>
</nav>